	@font-face {
		font-family: 'Font';
		src: url('font.ttf');
	}
	
    body {
      margin: 0;
      background: url('icon/background.webp') no-repeat center center fixed;
      font-family: 'MyFont';
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
	
	.book-container {
      position: relative;
      width: 90vw;
      max-width: 1920px;
      aspect-ratio: 2 / 1; /* Примерное соотношение сторон книги */
      background: url('icon/book.webp') no-repeat center center;
      background-size: contain;
    }
	
	.book-container2 {
      position: relative;
      width: 90vw;
      max-width: 1920px;
      aspect-ratio: 2 / 1; /* Примерное соотношение сторон книги */
      background: url('icon/book2.webp') no-repeat center center;
      background-size: contain;
    }

    .tab {
      position: absolute;
      width: 4%;
      aspect-ratio: 1;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    /* Вкладки слева */
    .tab-left:nth-child(1) { top: 2.6%; left: 21.8%; background-image: url('icon-search.webp');}
    .tab-left:nth-child(2) { top: 2%; left: 27.7%; background-image: url('icon-brain.webp');width: 5%; }
    .tab-left:nth-child(3) { top: 2%; left: 34.5%; background-image: url('icon-light.webp'); width: 5%;}

    /* Вкладки справа */
    .tab-right:nth-child(4) { top: 2.6%; left: 54.8%; background-image: url('icon-ghost.webp'); width: 4.6%;}
    .tab-right:nth-child(5) { top: 2.6%; left: 61.5%; background-image: url('icon-cam.webp'); width: 4.9%;}
    .tab-right:nth-child(6) { top: 1.4%; left: 67.7%; background-image: url('icon-pentagram.webp'); width: 5.4%;}

    .book-content {
      position: absolute;
      top: 20%;
      left: 5%;
      width: 90%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 1.5vw;
    }

    .left-page {
	  top: 1.4%; 
	  left: 18%;
	  height: 60%;
      position: absolute;
      width: 32%;
      aspect-ratio: 1;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
	
	.right-page {
	  top: 1.4%; 
	  left: 51%;
	  height: 60%;
      position: absolute;
      width: 32%;
      aspect-ratio: 1;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
	
	.text-checkbox {
		position: relative;
		display: block;
		font-family: 'font', sans-serif;
		font-size: 75%;
		margin: 10px 0;
		cursor: pointer;
	}
	
	.text-ghost {
		position: relative;
		display: block;
		font-family: 'font', sans-serif;
		font-size: 75%;
		margin: 10px 0;
		padding:15px;
	}
	
	.text-checkbox input[type="checkbox"] {
		display: none;
	}

	.text-checkbox .overlay {
		position: absolute;
		top: -25%; /* можно подстроить */
		left: -5%; /* подкорректируй позицию, чтобы не перекрывало текст */
		width: 45%;
		height: 150%;
		display: none;
		pointer-events: none;
	}

	.text-checkbox input[type="checkbox"]:checked ~ .overlay {
		display: block;
	}

	.ghost .overlay-ghost {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 45%;
		height: 150%;
		display: none;
		pointer-events: none;
	}

	.ghost ~ .overlay-ghost {
		display: block;
	}


	.ghost.strikethrough {
        text-decoration: line-through;
        opacity: 1.0;
        }
		
    .tooltip-description {
        position: relative;
		display: block;
		font-family: 'MyFont';
		font-size: 75%;
		margin: 10px 0;
		cursor: pointer;
        }